<h2> Create a User Account </h2>

<%= render partial: '/errors', locals: { record: @user } %>

<%= form_for @user, url: signup_path do |f|%>
<%= f.label :Username %>
<div> <%= f.text_field :username %> </div>
<%=f.label :Password %>
<div> <%=f.password_field :password%> </div>
<%= f.label :confrm_password%>
<div> <%=f.password_field :password_confirmation%> </div>
<%= f.submit %>


<h2><%= link_to "Sign up with Github", '/auth/github' %></h2>

<% end %>