<h2>Build a new Vacation Plan</h2>

<%= render partial: '/errors', locals: { record: @vacation_plan} %>

<%= form_for @vacation_plan do |f| %>
    <%= f.label :name %>
    <div><%= f.text_field :name %></div>
    <%= f.label :vacation_description %>
    <div><%= f.text_area :vacation_description %></div>
    <%= f.submit "Create Vacation Plan and add Highlights." %>

<% end %>