<h2>Vacation Plan <%= @vacation_plan.name %></h2>
<%= link_to "Create a new Plan", "new_vacation_plan_path" %>

<% @vacation_plan.highlights.each.with_index(1) do |highlight, index| %>
   <h3> <%= index %><%= highlight.attraction.park %></h3>
   <p><%= highlight.day_number %></p>
   <p><%= highlight.notes %></p>

<% end %>