<h2>Vacation Plan <%= @vacation_plan.name %></h2>
<%= link_to "Add New Highlight",  new_vacation_plan_highlight_path(@vacation_plan) %>

<% @vacation_plan.highlights.each.with_index(1) do |highlight, index| %>
   <h3> <%= index %><%= highlight.attraction.name %></h3>
   <p><%= highlight.attraction.park %></p>
   <p><%= highlight.day_number %></p>
   <p><%= highlight.daily_notes %></p>

<% end %>