<h2> Add a new Highlight to the Vacation Plan - <i><%= @vacation_plan.name %></i> </h2>

<%= form_for @highlight do |f|%>
    <%=f.collection_select :attraction_id, Attraction.all, :id, :name, prompt: true%>
    <%= f.label :Day_Number %>
    <%= f.number_field :day_number %>
     <%= f.label :Notes %>
    <%= f.text_area :daily_notes %>
    <%= f.hidden_field :vacation_plan_id, value: @vacation_plan.id%>
    <%=f.submit%>

<% end %>